include AUTHORS.rst
include CHANGES.rst
include LICENSE.txt
include MANIFEST.in
include README.rst
include CONTRIBUTING.rst
include HGREV
recursive-include form_utils/templates *.html
recursive-include form_utils/media/form_utils/js *.js
